* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 1rem;
	font-family: "Open Sans", sans-serif;
}

div {
	margin: 1rem;
	border: 1px dashed;
	padding: 1rem;
}

.one {
	width: 200px;
	height: 200px;
}

.flex {
	background-color: #aba;
	/* write declarations here */
	display: flex;
	justify-content: center;
	
}

.grid {
	background-color: #abb;
	/* enter declarations here */
	display: grid;
	text-align: center;
}

.container2 {
	/* write declarations here */
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	flex-wrap: wrap;
	

}

.two {
	background-color: #ace;
	height: 100px;
}

.container3 {
	padding: 0;
	/* write declarations here */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

}

.columns-3 {
	/* write declaration here */
	grid-column: 1/4;

}

.three {
	margin: .25rem;
	background-color: #abd;
}