body {
	font-family: "Sansita", sans-serif;
}

nav {
	background-color: #36454f;
}
nav ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	max-width: 900px;
	margin: 0 auto;
	justify-content: space-around;
	align-items: center;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

p {
	margin: 1rem;
	border: 1px solid rgb(0 0 0 / 10%);
	padding: 1rem;
	background-color: #bed;
	max-width: 400px;
}
